<div class="video-content">
    <h4>Rushing World</h4>
    <h5>Part of 3-part team creating this 5-minute VR animation.</h5>
    <p>Based on one of the chapters in Einstein's </p>
    <div><iframe id="videoWeb" src="https://player.vimeo.com/video/354718629" width="640" height="360" frameborder="0" allowfullscreen>
    </iframe></div>
    <div><iframe id="videoMobile" src="https://player.vimeo.com/video/354718629" width="500" height="220" frameborder="0" allowfullscreen>
    </iframe></div>
</div>