<div class="film-body">
    <h4>FILM & ANIMATION</h4>
    <div class="film-section" (click)="navToLight()">
        <img src="./assets/film/BL&S/JamieSwing.JPG">
        <div class="label"><p>Between Light & Sound</p></div>
    </div>
    <div class="film-section" (click)="navToHands()">
        <img src="./assets/film/hands/hands.png">
        <div class="label"><p>Sometimes I Want to Cut Off My Hands</p></div>
    </div>
    <div class="film-section" (click)="navToBeluFindy()">
        <img src="./assets/film/belu/cover.png">
        <div class="label"><p>Propane Beauty</p></div>
    </div>
</div>