<div class="film-body">
    <h3>F I L M S</h3>
    <div class="film-section" (click)="navToLight()">
        <img src="./assets/film/BL&S/JamieSwing.JPG">
        <div class="label"><p>Between Light & Sound</p></div>
    </div>
    <div class="film-section" (click)="navToHands()">
        <img src="./assets/film/hands/hands.png">
        <div class="label"><p>Sometimes I Want to Cut Off My Hands</p></div>
    </div>
    <div class="film-section" (click)="navToBeluFindy()">
        <img src="./assets/film/belu/cover.png">
        <div class="label"><p>Propane Beauty</p></div>
    </div>
    <div class="film-section" (click)="navToAMap()">
        <img src="./assets/film/aMap/portrait.png">
        <div class="label"><p>A Plan. To Seek. A Map.</p></div>
    </div>

    <h4>A N I M A T I O N</h4>
    <div class="film-section" (click)="navToNewMoon()">
        <img src="./assets/film/newMoon/newMoon.png">
        <div class="label"><p>Animation for Finding Home</p></div>
    </div>
    <div class="film-section" (click)="navToRushingWorld()">
        <img src="./assets/vr/rushingWorld/cover.png">
        <div class="label"><p>Rushing World, VR Animation</p></div>
    </div>
    <div class="film-section" (click)="navToLilRed()">
        <img src="./assets/vr/lilRed/lilRed.png">
        <div class="label"><p>Lil Red, VR animation</p></div>
    </div>
</div>