<div class="video-content">
    <h4>Between Light & Sound</h4>
    <h5>DP and trailer edit</h5>
    <p>A short film about two best friends, their radio show, the end of the world, and their goal to fullfill a 7-year-old's last wish.</p>
    <div><iframe id="videoWeb" title="vimeo-player" src="https://player.vimeo.com/video/331285496" width="640" height="360" frameborder="0" allowfullscreen>
    </iframe></div>
    <div><iframe id="videoMobile" title="vimeo-player" src="https://player.vimeo.com/video/331285496" width="500" height="220" frameborder="0" allowfullscreen>
    </iframe></div>
    <img src="./assets/film/BL&S/lenaAstro.jpg">
    <img src="./assets/film/BL&S/radioStill.JPG">
    <img src="./assets/film/BL&S/Jamie.jpg">
    <img src="./assets/film/BL&S/picnic.jpg">
</div>