<div class="video-content">
    <h3>A p o p h e n i a</h3>
    <h5>Interactive projection using Kinect, Unity, and projector. Exhibited at the RISD museum.</h5>
    <p>Apophenia is the tendency to see patterns, connections, and meanings among unconnected, random information or data. This interactive projection is one part of a three part exhibition series examining the non-neutrality in random data and patterns–we often bring our own lens and subjectivities, seeing patterns, connections, and metaphors that may or may not be there. This interactive projection piece creates a collaborative digital painting from participants’ movements. A sensor translates gesture to gravitational force — moving and tracing words across a virtual landscape. The traced landscape is a unique composition of each view, of each person's subjective vision and experience. The words are drawn from Hito Steyerl’s “A Sea of Data”, a piece delving into the patterns and stereotypes too often read into data and still tagged as objective.</p>
    <img src="./assets/vr/apophenia/apophenia_3.PNG">
    <div><iframe id="videoWeb" title="vimeo-player" src="https://www.youtube.com/embed/5o1F3FzaNlc" width="640" height="360" frameborder="0" allowfullscreen>
    </iframe></div>
    <div><iframe id="videoMobile" title="vimeo-player" src="https://www.youtube.com/embed/5o1F3FzaNlc" width="500" height="220" frameborder="0" allowfullscreen>
    </iframe></div>
    <img src="./assets/vr/apophenia/apophenia_1.PNG">
    <img src="./assets/vr/apophenia/apophenia_2.PNG">
    <img src="./assets/vr/apophenia/apophenia.jpg">
    <img src="./assets/vr/apophenia/apophenia_5.PNG">
    <img src="./assets/vr/apophenia/apophenia_4.PNG">
</div>