<div class="video-content">
    <h4>A Plan. To Seek. A Map.</h4>
    <p>This performance video piece explores my relationship with Chinese calligraphy, language, and culture growing up as a second-generation immigrant in America. It's a three part video around the three contextual meanings of the word 图: A plan, To seek, A map. In part 1, I lay out my plan for the piece and how I will explore the appropriation, relationship, and/or translation of Chinese calligraphy and culture into different artists' lives and practices. In part two, I show how the figure/letter itself becomes a space of projection and varying meanings, while I paint and seek my meaning beneath the projections and voices. Finally, in part three, the projection shuts off to reveal a 口，the Chinese character for mouth and speech, and the characters of my parents' family names on my face say what the Chinese language, culture and calligraphy ultimately mean to me: Family. Roots. Home. </p>
    <div><iframe id="videoWeb" src="https://www.youtube.com/embed/I3uIOvZOiik" width="640" height="360" frameborder="0" allowfullscreen>
    </iframe></div>
    <div><iframe id="videoMobile" src="https://www.youtube.com/embed/I3uIOvZOiik" width="500" height="220" frameborder="0" allowfullscreen>
    </iframe></div>
    <img src="./assets/film/aMap/hand.png">
    <img src="./assets/film/aMap/portrait.png">
    <img src="./assets/film/aMap/writing.png">
</div>