<div class="video-content">
    <h4>Propane Beauty</h4>
    <h5>DP, lights, creative direction</h5>
    <p>A video of a live performance by Belu-Olisa Sarkissian of "Propane Beauty".</p>
    <div><iframe id="videoWeb" src="https://www.youtube.com/embed/8oZuS2rF-bk" width="640" height="360" frameborder="0" allowfullscreen>
    </iframe></div>
    <div><iframe id="videoMobile" src="https://www.youtube.com/embed/8oZuS2rF-bk" width="500" height="220" frameborder="0" allowfullscreen>
    </iframe></div>
    <img src="./assets/film/belu/still2.png">
    <img src="./assets/film/belu/still3.png">
    <img src="./assets/film/belu/still1.png">
</div>