<div class="img-based">
    <h4>People & Public Places</h4>
    <h5>2017.</h5>
    <p>A series exploring the way public and private spaces shape peoples' interactions and behaviors.</p>
    <img src="./assets/paintings/hs/subway.jpg">
    <div class="label">
        <div class="align-right"><h6>The subway</h6></div>
        <div class="align-right"><p>Oil on canvas. 2017.</p></div>
    </div>
    <img src="./assets/paintings/hs/blockheads.jpg">
    <img src="./assets/paintings/hs/streets.jpg">
    <img src="./assets/paintings/hs/elevator.jpg">
    <img src="./assets/paintings/hs/papp.jpg">
    <img src="./assets/paintings/hs/nightlights.jpg">
    <img src="./assets/paintings/hs/cara.jpg">
</div>