

body {
    img {
        width: 60px;
        margin-top: 15px;
        opacity: 0.6;
    }
    .align {
        position: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        svg {
            cursor: pointer;
            width: 200px;
        }
    }
    
    .menu-content {
        .dropdown {
            display: flex;
            flex-direction: row;
            margin-right: 85px;
            justify-content: flex-end;
        }
        img {
            width: 60px;
            margin-top: 15px;
            opacity: 0.6;
        }
        .specific-category {
            color: red;
            margin-right: 20px;
        }
    }
}

p{
    display: inline;
    align-self: left;
}

