
ul {
    padding-left: 10px;
}

body {
    z-index: 99999;

    @media only screen and (min-width: 1200px) {
        .web {
            margin : 15px 20px;
            .align {
                position: right;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                svg {
                    cursor: pointer;
                    width: 125px;
                    fill: none;
                    fill-opacity: none;
                }
            }

            p {
                font-style: oblique;
                color: gray;
            }
        }
        
        img {
            width: 60px;
            margin-top: 15px;
            opacity: 0.6;
        }

        .mobile {
            display: none;
        }
    }

    @media only screen and (max-width: 1200px) {
        .web {
            display: none;
        }
        
        .mobile {
            margin: 2px;
            svg {
                position: fixed;
                top: 0px;
                right: 0px;
                z-index: 400;
                width: 100px;
                circle {
                    fill: white;
                }
            }



            .overlay-menu-content {
                margin-top: 90px;
                display: flex;
                justify-content: space-between;
                align-content: space-around;
                align-items: left;
                flex-direction: column;

                .title {
                    position: fixed;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: row;


                    h1 {
                        color: white;
                        display: inline;
                    }
        
                    img {
                        width: 77px;
                    }
                }

    
                .specific-category {
                    margin-right: 13px;
                    display: flex;
                    flex-direction: row-reverse;
                    p {
                        font-size: 13px;
                        color: white;
                        font-style: oblique;
                    }
                    .cat {
                        padding-top: 30px;
                    }
                    img {
                        margin: 15px;
                        // width: 100px;
                    }
                }
            }
        }


    }

    .menu-content {
        .dropdown {
            display: flex;
            flex-direction: row;
            margin-right: 10px;
            justify-content: flex-end;
        }
        img {
            width: 60px;
            margin-top: 15px;
            opacity: 0.6;
        }
        .specific-category {
            color: red;
            margin-right: 20px;
        }
    }

    /* The Overlay (background) */
    .overlay-menu {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(255, 0, 0, 0.657);
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-menu-content {
        img {
            width: 40px;
        }
    }
}

p {
    display: inline;
    align-self: left;
}

