<body>
        <div class="web">
            <div class="align" fxLayout="column" fxLayoutAlign="right">
                <svg width="120" 
                    height="120"
                    (click) = "toggle()"
                    class="collapsible"
                            (mouseover)="handleMouseOver()"
                            (mouseout)="handleMouseOut()">
                    <circle #menu id="menu"
                            cx="58"
                            cy="51"
                            r="40"
                            fill="none"
                            stroke="red"/>
                    <text x="60" 
                            y="55"
                            font-family="Lucida Sans Unicode, Lucida Grande, sans-serif"
                            font-size="15px"
                            fill="red"
                            text-anchor="middle">
                            MENU
                        </text>
                </svg>
            </div>
            <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container" class="menu-content" >
                <ul>
                    <div class="dropdown">
                        <div [@openClose]="!specific ? 'open' : 'closed'" [hidden]="specific">
                            <p [@hoverText]="hoverEnLargeFilm ? 'onHover': 'offHover'">FILM & ANIMATION</p>
                            <img src="./assets/menu-icons/UIUX_logo.png"
                                (click)="navToFilm()"
                                (mouseenter)="hoverEnlarge('film')"
                                (mouseleave)="hoverEnlarge('film')"
                                [@hoverEnlarge]="hoverEnLargeFilm ? 'onHover': 'offHover'">
                        </div>
                        <div [@openClose]="specific ? 'open' : 'closed'" [hidden]="!specific">
                            <div *ngIf="specificFilm" class="specific-category">
                                <div><img src="./assets/menu-icons/art_logo.png"></div>
                                <div><p>it worked</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div [@openClose]="!specific ? 'open' : 'closed'" [hidden]="specific">
                            <p [@hoverText]="hoverEnLargePainting ? 'onHover': 'offHover'">PAINTING & 2D</p>
                            <img src="./assets/menu-icons/art_logo.png" 
                                (click)="navToPainting()"
                                (mouseenter)="hoverEnlarge('painting')"
                                (mouseleave)="hoverEnlarge('painting')"
                                [@hoverEnlarge]="hoverEnLargePainting ? 'onHover': 'offHover'">
                        </div>
                        <div [@openClose]="specific ? 'open' : 'closed'" [hidden]="!specific">
                            <div *ngIf="specificPainting" class="specific-category">
                                <div><img src="./assets/menu-icons/art_logo.png"></div>
                                <div><p>it worked</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div [@openClose]="!specific ? 'open' : 'closed'" [hidden]="specific">
                            <p [@hoverText]="hoverEnLargePhotos ? 'onHover': 'offHover'">PHOTOGRAPHY</p>
                            <img src="./assets/menu-icons/coding_logo.png"
                                (click)="navToPhotos()"
                                (mouseenter)="hoverEnlarge('photos')"
                                (mouseleave)="hoverEnlarge('photos')"
                                [@hoverEnlarge]="hoverEnLargePhotos ? 'onHover': 'offHover'">
                        </div>
                        <div [@openClose]="specific ? 'open' : 'closed'" [hidden]="!specific">
                                <div *ngIf="specificPhotos" class="specific-category">
                                <div><img src="./assets/menu-icons/art_logo.png"></div>
                                <div><p>it worked</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div [@openClose]="!specific ? 'open' : 'closed'" [hidden]="specific">
                            <p [@hoverText]="hoverEnLargeDesign ? 'onHover': 'offHover'">DESIGN & WEB</p>
                            <img src="./assets/menu-icons/art_logo.png"
                                (click)="navToDesign()"
                                (mouseenter)="hoverEnlarge('design')"
                                (mouseleave)="hoverEnlarge('design')"
                                [@hoverEnlarge]="hoverEnLargeDesign ? 'onHover': 'offHover'">
                        </div>
                        <div [@openClose]="specific ? 'open' : 'closed'" [hidden]="!specific">
                            <div *ngIf="specificDesign" class="specific-category">
                                <div><img src="./assets/menu-icons/art_logo.png"></div>
                                <div><p>it worked</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div [@openClose]="!specific ? 'open' : 'closed'" [hidden]="specific">
                            <p [@hoverText]="hoverEnLargeVR ? 'onHover': 'offHover'">VR/AR & DIGITAL MEDIA</p>
                            <img src="./assets/menu-icons/art_logo.png"
                                (click)="navToVR()"
                                (mouseenter)="hoverEnlarge('vr')"
                                (mouseleave)="hoverEnlarge('vr')"
                                [@hoverEnlarge]="hoverEnLargeVR ? 'onHover': 'offHover'">
                        </div>
                        <div [@openClose]="specific ? 'open' : 'closed'" [hidden]="!specific">
                            <div *ngIf="specificVR" class="specific-category">
                                <div><img src="./assets/menu-icons/art_logo.png"></div>
                                <div><p>it worked</p></div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="mobile">
            <div class="align" fxLayout="column" fxLayoutAlign="right">
                <svg width="100" 
                    height="100"
                    (click) = "fullscreenOverlay()"
                    class="collapsible"
                    (mouseover)="handleMouseOver()"
                    (mouseout)="handleMouseOut()">
                    <circle #menu id="menu"
                            cx="40"
                            cy="40"
                            r="30"
                            fill="none"
                            stroke="red"/>
                    <text x="40" 
                            y="43"
                            font-family="Lucida Sans Unicode, Lucida Grande, sans-serif"
                            font-size="12px"
                            fill="red"
                            text-anchor="middle">
                            MENU
                        </text>
                </svg>
            </div>
            <!-- The overlay -->
            <div [@fullOverlay]="fullOver ? 'open' : 'closed'" id="myNav" class="overlay-menu">
                <!-- Overlay content -->
                <div class="overlay-menu-content">
                    <!-- <div><img id="exit" src="/assets/logo.png" (click)="fullscreenOverlay()"></div> -->
                    <div class="specific-category" fxLayout="row" fxLayoutAlign="flex-end">
                        <span><img src="./assets/menu-icons/art_logo.png"></span>
                        <span class="cat"><p>PAINTING & 2D</p></span>
                    </div>
                    <div class="specific-category" fxLayout="row">
                        <span><img src="./assets/menu-icons/art_logo.png"></span>
                        <span class="cat"><p>FILM & ANIMATION</p></span>
                    </div>
                    <div class="specific-category" fxLayout="row">
                        <span><img src="./assets/menu-icons/art_logo.png"></span>
                        <span class="cat"><p>PHOTOGRAPHY</p></span>
                    </div>
                    <div class="specific-category" fxLayout="row">
                        <span><img src="./assets/menu-icons/art_logo.png"></span>
                        <span class="cat"><p>DESIGN & WEB</p></span>
                    </div>
                    <div class="specific-category" fxLayout="row">
                        <span><img src="./assets/menu-icons/art_logo.png"></span>
                        <span class="cat"><p>VR/AR & DIGITAL MEDIA</p></span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    