<div class="paintings-body">
        <div><h3>P A I N T I N G</h3></div>    
        <div class="paintings-section"><img src="./assets/paintings/patterns/patterns.jpg">
            <div class="label"><p>Apophenia</p></div>
        </div>
    
        <div class="paintings-section"><img src="./assets/paintings/growingDance/1.jpg">
            <div class="label"><p>Growing Dance</p></div>
        </div>

        <div class="paintings-section"><img src="./assets/paintings/handMountains/handMountains.jpg">
            <div class="label"><p>Land, Skin. Mountains, Hands.</p></div>
        </div>

        <div class="paintings-section" (click)="navToHS()">
            <img src="./assets/paintings/hs/subway.jpg">
            <div class="label"><p>People and public spaces.</p></div>
        </div>

</div>
<div class="white"></div>