<div class="video-content">
    <h4>Finding Home</h4>
    <h5>Animation & Visual FX</h5>
    <p>Made animations for LA Emmy award-winning documentary, Finding Home, which follows four foster youth moving through and out of the foster care system in LA.</p>
    <div><iframe id="videoWeb" title="vimeo-player" src="https://player.vimeo.com/video/292650600" width="640" height="360" frameborder="0" allowfullscreen>
    </iframe></div>
    <div><iframe id="videoMobile" title="vimeo-player" src="https://player.vimeo.com/video/292650600" width="500" height="220" frameborder="0" allowfullscreen>
    </iframe></div>
</div>
