<head>
  <title>Victoria Xu</title>
</head>
<body>
  <div *ngIf="loading" class="loading">
    <span><img class="spinner" src="./assets/menu-icons/spinner.png"></span>
  </div>
  <div class="main" [@loader]="!loading ? 'open' : 'closed'">
    <div class="side-bar">
      <div class="header">
        <div><img id="logo" src="./assets/logo2.png" (click)="navToHome()"></div>
        <div><h1 (click)="navToHome()">VICTORIA XU</h1></div>
      </div>
      <div>
          <app-nav></app-nav>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</body>
