.design-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .design-section {
        p {
            color: gray;
        }

        h3 {
            margin-bottom: 50px;
        }

        .label {
            display: flex;
            flex-direction: row-reverse;
            // align-items: flex-end;
        }

        img {
            max-width: 85vw;
            height: auto;
        }
    }
}