@import "~bootstrap/scss/bootstrap";

html, body {
    overflow: auto;
    min-height: 100%;
    background-color: rgba(0,0,0,0) !important;

}

@media only screen and (min-width: 1200px) {
    .main {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .side-bar {
        width: 170px;
        min-height: 900px;
        flex-direction: column;
        display: flex;
        align-content: flex-end;
        justify-content: space-between;
        border-right: 1px solid red;

        #logo {
            width: 100px;
            margin: 20px 30px 0px 35px ;
        }
    }

    h1 {
        margin: 0px 0px 50px 100px;
        text-orientation: sideways-right;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .main {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .side-bar {
        width: 100%;
        flex-direction: row;
        display: flex;
        border-bottom: 1px solid red;

        #logo {
            margin: 5px;
        }
    }

    h1 {
        justify-self: center;
        margin-top: 40px;
        font-size: 15px;
    }
}

body {
    cursor: url("/assets/keithHarringCursor.png"), auto;
}



//circle 

@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%; 
    list-style: none;       
    
    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      width:  $item-size;
      height: $item-size;
      margin: -($item-size / 2);
    
      $angle: (360 / $item-count);
      $rot: 0;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform: 
            rotate($rot * 1deg) 
            translate($circle-size / 2) 
            rotate($rot * -1deg);
        }
  
        $rot: $rot + $angle;
      }
    }
  }

//global header styles-------------------------

h1 {
    color: red;
    font-weight: bold;
}

h2 {
    color: black;
    font-weight: lighter;
    font-size: 160px;
    font-style: oblique;
    margin-top: 40px;
}

h3 {
    color: red;
    margin-top: 10px;
    align-content: center;
}

//global image------------
img {
    max-height: 600px;
    max-width: 800px;
}

// .body {
//     width: 1000px;
// }

//carousel-------------------------

ngb-carousel {
    width: inherit;
    height: inherit;
}
.carousel-inner {
    height: 800px;
    width: 900px;
  }
  .carousel-item .carousel-caption {
    color: black;
  }
  
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: auto;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    display: block !important;
    transform: translateX(100%);
  }
  
  @keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
  }
  
  .carousel-item.active {
    z-index: 1;
    opacity: 1;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    transition-delay: .5s;
    transform: none;
    animation: slideFromLeft 2s;
    animation-delay: .5s;
  }

a { text-decoration: none; color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:red; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:red }

.collapsible {
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    align-self: left;
    outline: none;
    font-size: 16px;
}

.active, .collapsible:hover {
    /* background-color: #555; */
    font-weight: 6;
}

.content {
    display: none;
    overflow: hidden;
}





