@import "~bootstrap/scss/bootstrap";

html, body {
    overflow: auto;
    min-height: 100%;
}

.main {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

body {
    cursor: url("/assets/keithHarringCursor.png"), auto;
}

.side-bar {
    width: 170px;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    border-right: 1px solid red;
}

//global header styles-------------------------

h1 {
    color: red;
    margin: 0px 0px 50px 100px;
    font-weight: bold;
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

h2 {
    color: black;
    font-weight: lighter;
    font-size: 160px;
    font-style: oblique;
    margin-top: 40px;
}

h3 {
    color: red;
    margin-top: 10px;
    align-content: center;
}

img {
    max-height: 600px;
    max-width: 800px;
}

.body {
    width: 1000px;
}

//carousel-------------------------

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
    position: absolute;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}


.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}

a { text-decoration: none; color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:red; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:red }

.collapsible {
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.active, .collapsible:hover {
    /* background-color: #555; */
    font-weight: 6;
}

.content {
    display: none;
    overflow: hidden;
}





