@import '../../styles.scss';



.home-body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ngb-carousel {
        margin-right: 40px;
        justify-content: center;

    }
    
    .help {
        display: flex;
        justify-content: center;
    }
}